<div id="index">
        <% IF files.size %>
        <div id="filelist">
            <table class=upload_t>
            <tr>
            <% FOREACH timestamp IN files.keys.sort.reverse %>
                 <td><a href="<% public_url %>/<% share %>/<% files.$timestamp %>"> <% files.$timestamp %> </a></td>
                 </tr>
            <% END %>

            </table>
        <% END %>
    </div>
</div>
